@model IEnumerable<MyCms.DataLayer.Page>
@using MyCms;
@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-primary">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowInSlider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width:20%">
                <img src="~/Image/@item.ImageName" alt=""  class="img-rounded"style="max-width:70%;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShowInSlider)
            </td>
            <td>
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PageID" class="btn btn-warning">ویرایش</a> 
                <a asp-action="Details" asp-route-id="@item.PageID" class="btn btn-primary">نمایش</a> 
                <a asp-action="Delete" asp-route-id="@item.PageID" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
